*{
	margin: 0px;
	padding: 0px;
}
#header{
	width: 1000px;
	height:160px;
	margin: 0 auto;
}
#header .logo{
	width:242px;
	height:25px;
	margin-left: 20px;
	margin-top: 40px;
	float: left;
}
#header .search{
	width:232px;
	height:30px;
	margin-top:40px;
	margin-right:20px;
	float: right;
}

.clear{
	clear: both;
}
#header .nav{
	height:60px;
	float: bottom;
	background-color: #303030;
	color: white;
	margin-top: 30px;
}
#header .nav ul{
	margin-left: 30px;
}
#header .nav li{
	list-style: none;
	float: left;
	width: 120px;
	text-align:center;
	line-height: 60px;
	border-right: 1px solid #494949;
}
.no-line{
	border-right: none;
}
#banner{
	width:1000px;
	height:460px;
	margin: 0 auto;
}

#container{
	width:1000px;
	height:550px;
	margin: 0 auto;
}
#container .c-top{
	height:240px;
}
#container .c-top .c-t-left{
	width:500px;
	height:240px;
	float: left;
}
#container .c-top .c-t-left h3{
	margin-left: 20px;
	margin-top:30px;
}
#container .c-top .c-t-left ul{
	margin-top: 10px;
}
#container .c-top .c-t-left .writer{
	margin-left: 34px;
	line-height: 24px;
	float: left;
	font-size: 14px
}
#container .c-top .c-t-left .time{
	float: right;
	line-height: 24px;
	font-size: 12px;
	margin-right: 30px;
	list-style: none;
	color: #afafaf;
}
#container .c-top .c-t-center{
	width:240px;
	height:240px;
	float: left;
	background-color: #f1f1f1;
}
#container .c-top .c-t-center h3{
	margin-left: 20px;
	margin-top:30px;
}
#container .c-top .c-t-center .one{
	margin-top: 40px;
	margin-left: 27px;
	margin-right: 85px;
	font-size: 14px;

}
#container .c-top .c-t-center .two{
	margin-top: 27px;
	margin-left: 27px;
	margin-right: 23px;
	color: #acacac;
	font-size: 14px;
}
#container .c-top .c-t-right{
	width:252px;
	height:240px;
	float: left;
}
#container .c-top .c-t-right h3{
	margin-left: 20px;
	margin-top:30px;
}
#container .c-top .c-t-right p{
	margin-top: 28px;
	margin-left: 25px;
	margin-right: 30px;
	font-size: 14px;
}
#container .c-top .c-t-right .one{
	margin-left: 25px;
	margin-bottom: 50px;

}
#container .c-top .c-t-right .two{
	margin-left: 55px;
	margin-top: 10px;

}
#container .c-bottom{
	height:305px;
}
#container .c-bottom h3{
	margin-left: 23px;
	margin-top:30px;
}
#container .c-bottom div{
	float: left;
	width: 210px;
	margin-right:15px; 
	margin-left:20px; 
	margin-top:15px;
}
#container .c-bottom p{
	line-height: 16px;
	font-size: 12px;
}

#footer{
	width:1000px;
	height:330px;
	margin: 0 auto;
}
#footer .f-top{
	height: 250px;
	color: #5b5b5b;
	background-color: #e5e5e5;
}
#footer .f-top .f-t-left {
	width: 495px;
	float: left;
}
#footer .f-top .f-t-left h3{
	margin-left: 30px;
	margin-top: 45px;
	margin-right: 50px;
	border-bottom: 1px solid #c1c1c1;
}
#footer .f-top .f-t-left ul{
	margin-left: 40px;
	float: left;
	margin-right: 20px;
	margin-top: 20px;
}
#footer .f-top li{
	line-height: 25px;
}
#footer .f-top .f-t-center {
	width: 225px;
	height: 250px;
	float: left;
}
#footer .f-top .f-t-center h3{
	margin-left: 30px;
	margin-top: 45px;
	margin-right: 50px;
	border-bottom: 1px solid #c1c1c1;
}
#footer .f-top .f-t-center ul{
	margin-left: 40px;
	float: left;
	margin-right: 25px;
	margin-top: 20px;
}
#footer .f-top .f-t-right {
	width: 273px;
	height: 250px;
	float: left;
}
#footer .f-top .f-t-right h3{
	margin-left: 30px;
	margin-top: 45px;
	margin-right: 50px;
	border-bottom: 1px solid #c1c1c1;
}
#footer .f-top .f-t-right img{
	margin-left: 45px;
	margin-top: 10px;
}
#footer .f-bottom{
	height: 80px;
}
#footer .f-bottom li{
	list-style: none;
	float: left;
	text-align:center;
	line-height: 18px;
	font-size: 14px;
	border-right: 1px solid #868686;
	color: #868686;
	height: 18px;
	margin-right: 5px;

}
#footer .f-bottom ul{
	margin-left: 20px;
	margin-top: 24px;
}
#footer .f-bottom img{
	float: right;

}